@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');

* img {
  height: auto;
}

body {
  margin: auto;
  padding: 0;
  background-color: #F2DEA2;
}

#wrapper {
  width: 100%;
  margin: 0;
}

header img {
  width: 1920px;
  max-width: 100%;
}

nav {
  position: relative;
  background-color: #F2DEA2;
  height: 30px;
  padding: 15px 25px;
  text-align: right;
  z-index: 4;
}

nav a {
  font-size: 24px;
  padding: 15px;
}

main {
  margin-top: 0;
}


header h1 {
  margin: 0;
  padding: 5px;
  font-size: 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
}

navigation {
  width: 980px;
  margin: 0;
  padding: 0;
  text-align: center;
}


navigation ul {
  width: 980px;
  list-style: none;
  padding: 0;
  margin: 0;
}

navigation ul li {
  display: inline;
  margin-right: 1em;
}

.containers {
  height: auto;
  background: url(../assets/img/party1.jpg) no-repeat fixed center;
  background-size: cover;
  width: 100%;
  margin: auto;
}

#looseleaf {
  font-size: 38px;
  text-align: center;
  max-width: 100%;
  margin: 0;
  padding: 10% 0;
}

#looseleaf img {
  max-width: 100%;
  padding-bottom: 0;
}

#looseleaf p {
  background-color: rgb(242, 222, 162, .9);
  padding: 5px 0 0;
  margin: 0;
}

#video-1 {
  margin-top: 2%;
  text-align: center;
}

#container {
  width: 80%;
  background-color: #ffcc33;
  margin: auto;
}

#first {
  width: 40%;
  float: left;
  height: 300px;
  background-color: blue;
}

#second {
  width: 40%;
  float: right;
  height: 300px;
  background-color: green;
}

#clear {
  clear: both;
}

#content {
  width: 920px;
  min-height: 500px;
  padding: 0 30px;
}

footer {
  width: auto;
  height: 40px;
  margin: 0;
  padding: 10px 20px;
  color: white;
}

/***************About Us******************/

.video-chompers {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.video-chompers h1 {
  text-align: center;
  font-size: 8em;
  opacity: .8;
  padding: 20px;
  margin: 10px;
  z-index: 1;
  font-family: 'Sigmar One', cursive;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background-color: #cccaca;
  opacity: .5;
}

#aboutus {
  text-align: center;
  font-size: 34px;
  font-family: 'Sigmar One', cursive;
}

#about-grid {
  background-color: cadetblue;
  display: grid;
  grid-template-columns: 20% repeat(3, auto) 10%;
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 10px;
}

#about-grid h1 {
  grid-column: 2;
  grid-row: 2;
  font-size: 48px;
  font-family: 'Sigmar One', cursive;
}

#about-grid p {
  grid-column: 2;
  grid-row: 3;
}

#about-grid img {
  border-radius: 70%;
  height: auto;
  grid-column: 3/6;
  grid-row: 1/5;
  max-width: 100%;
  margin: 1%;
}

#about-grid2 {
  background-color: #d31c1c;
  display: grid;
  grid-template-columns: 30% repeat(3, auto) 20%;
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 10px;
}

#about-grid2 h1 {
  grid-column: 4;
  grid-row: 2;
  font-size: 48px;
  font-family: 'Sigmar One', cursive;
}

#about-grid2 p {
  grid-column: 4;
  grid-row: 3;
}

#about-grid2 img {
  border-radius: 70%;
  height: auto;
  grid-column: 1/3;
  grid-row: 1/5;
  max-width: 100%;
  margin: 1%;
}

#about-grid3 {
  background-color: cadetblue;
  display: grid;
  grid-template-columns: 20% repeat(3, auto) 10%;
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 10px;
}

#about-grid3 h1 {
  grid-column: 2;
  grid-row: 2;
  font-size: 48px;
  font-family: 'Sigmar One', cursive;
}

#about-grid3 p {
  grid-column: 2;
  grid-row: 3;
}

#about-grid3 img {
  border-radius: 70%;
  height: auto;
  grid-column: 3/6;
  grid-row: 1/5;
  max-width: 100%;
  margin: 1%;
}

#about-grid4 {
  background-color: #d31c1c;
  display: grid;
  grid-template-columns: 30% repeat(3, auto) 20%;
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 10px;
}

#about-grid4 h1 {
  grid-column: 4;
  grid-row: 2;
  font-size: 48px;
  font-family: 'Sigmar One', cursive;
}

#about-grid4 p {
  grid-column: 4;
  grid-row: 3;
}

#about-grid4 img {
  border-radius: 70%;
  height: auto;
  grid-column: 1/3;
  grid-row: 1/5;
  max-width: 100%;
  margin: 1%;
}

/*******************************Tour Page ******************/
#tour-main {
  margin-top: 20px;
}

.video-chompers-tour {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#tour-vid {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.video-container-tour {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.tour-content {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding-left: 20px;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background-color: #cccaca;
  opacity: .3;
}
/****************************Log in page ***********************/

#login-page {
  
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 100px;
  width: 400px;
  height: auto;
}

#login-content {
  background-color: #cccaca;
  height: 300px;
  text-align: justify;
}

#footer-php {
  color: #000;
}

#header-welcome {
  font-size: 32px;
}

table {
  border-collapse: collapse;
  vertical-align: top;
  font-size: 24px;
}

table.tourlist {
  width: 70%;
  margin: auto;
}

table.tourlist tr td {
  border: 1px solid #999999;
}

table.tourlist tr th {
  border: 1px solid #8e22c7;
  background: #8e22c7;
  color: white;
  text-align: left;
}
/* Actions */

.actions {
  margin-bottom: 1em;
}


/* Lists */

table {
  border-collapse: collapse;
  vertical-align: top;
}

table.list {
  width: 100%;
}

table.list tr td {
  border: 1px solid #999999;
}

table.list tr th {
  border: 1px solid #0055DD;
  background: #0055DD;
  color: white;
  text-align: left;
}

/* Forms */

dl {
  clear: both;
  overflow: hidden;
  margin: 0.5em 0;
}

dt {
  float: left;
  font-weight: bold;
  width: 125px;
}

dd {
  float: left;
  margin-left: 1em;
}

#operations {
  clear: both;
  margin: 1em 0 1em 75px;
}

/* Errors */

.errors {
  display: inline-block;
  border: 2px solid red;
  color: red;
  padding: 1em;
  margin-bottom: 1em;
}

.errors ul {
  margin-bottom: 0;
  padding-left: 1em;
}

@media screen and (max-width: 500px) {

  #looseleaf img {
    display: none;
  }
}
